@model IEnumerable<WebApplication2.Models.PeliculaVistaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Comentario
            </th>
            <th>
                Fecha
            </th>
            <th>
                Valoración
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.comentario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valoracion)
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning mr-3" })
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info mr-3" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
