@model WebApplication2.Models.UsuarioViewModel

@{
    ViewData["Title"] = "DetailsPerfil";
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");

    if (usuario == null || usuario.Email != Model.Email)
    {
        <script>
            window.location.href = '/Usuario/Index';
        </script>
    }
}

<div class="row align-items-center">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }


    <div class="col-sm-4 pb-3" style="max-width: 250px; max-height: 250px;">
        <img src="/Img/@(Model.Avatar).jpeg" alt="Avatar" class="img-fluid rounded-circle" />

    </div>
    <div class="col-sm-8 pb-3">
        @if (Model.usuarioGoogle == "No asignado")
        {
            <!-- Botón para asociar cuenta con Google si no está asociada -->
            <a href="@Url.Action("EnlazarCuentaConGoogle", "Usuario")" class="btn btn-primary">Enlazar con Google</a>
        }
        else
        {
            <!-- Mostrar indicador de cuenta asociada con Google -->
            <span class="text-success">Cuenta asociada con Google ✔</span>
        }
    </div>

</div>
<div class="col-sm-8 pb-3">

    <div class="row align-items-center">
        <div class="col-3">
            <h3>@Model.NombreUsuario</h3>
        </div>

        <div class="col-auto">
            <a class="btn btn-primary mx-2" href="@Url.Action("Edit", "Usuario", new { id = Model.Email })"> Editar Perfil </a>
        </div>
    </div>


    <h4>@Model.Nombre</h4>
    <br />
    <div class="row">
        <div class="col-sm-4 text-center">
            <h5>@Model.Seguidores</h5>
            <p id="Seguidores">Seguidores</p>
        </div>
        <div class="col-sm-4 text-center">
            <h5>@Model.Seguidos</h5>
            <p id="Seguidos">Seguidos</p>
        </div>
        <div class="col-sm-4 text-center">
            <h5>@Model.PelisVistas</h5>
            <p>Películas</p>
        </div>
    </div>
</div>
<hr />
<div class="col-md-12 d-flex justify-content-center mb-2">
    <a href="#" class="btn mx-2 btn-watchlist">Watchlist</a>
    <a href="#" class="btn mx-2 btn-playlists">Playlists</a>
    <a href="#" class="btn mx-2 btn-calendario">Calendario</a>
</div>
<div id="vistasUsuario">
</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@section Scripts {
    <script>
        $(document).ready(function () {
            var idUsuario = '@Model.Email';

            // Por defecto, cargar la vista de calendario
            loadCalendario();

            // Funciones para cargar diferentes vistas
            function loadCalendario() {
                $.get('/Usuario/Calendario/' + idUsuario, function (data) {
                    $('#vistasUsuario').html(data);
                });
            }

            function loadDeseos() {
                $.get('/Usuario/Deseos/' + idUsuario, function (data) {
                    $('#vistasUsuario').html(data);
                });
            }

            // Manejar clic en botones para cargar vistas
            $('.btn-calendario').on('click', function (e) {
                e.preventDefault();
                loadCalendario();
            });

            $('.btn-watchlist').on('click', function (e) {
                e.preventDefault();
                loadDeseos();
            });

            $('.btn-playlists').on('click', function (e) {
                // Lógica para cargar otra vista si es necesario
                // Por ejemplo: loadPlaylists();
            });
        });
    </script>

}