@model WebApplication2.Models.UsuarioViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="row">
    <div class="col-sm-4 pb-3" style="max-width: 250px; max-height: 250px;">
            <img src="/Img/@(Model.Avatar).jpeg" alt="Avatar" class="img-fluid rounded-circle" />
    </div>
    <div class="col-sm-8 pb-3">
        <h3>@Model.NombreUsuario</h3>
        <h4>@Model.Nombre</h4>
        <br />
            <div class="row">
            <div class="col-sm-4 text-center">
                    <h5>@Model.Seguidores</h5>
                    <p>Seguidores</p>
                </div>
            <div class="col-sm-4 text-center">
                    <h5>@Model.Seguidos</h5>
                    <p>Seguidos</p>
                </div>
            <div class="col-sm-4 text-center">
                    <h5>@Model.PelisVistas</h5>
                    <p>Películas</p>
                </div>
            </div>
            
    </div>
    <hr />
    <div id="vistasUsuario">
        

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    $(document).ready(function () {
        var idUsuario = '@Model.Email'; // Reemplaza esto con tu lógica para obtener el ID del usuario
        $.get('/Usuario/Vistas/' + idUsuario, function (data) {
            $('#vistasUsuario').html(data);
        });
    });
</script>