@model WebApplication2.Models.PeliculasYVistasViewModel



@{
    ViewData["Title"] = "Index";
}

@{
    UsuarioViewModel usuario = Context.Session.Get<UsuarioViewModel>("usuario");
    string nombre = "";
    string email = "";
    if(usuario != null)
    {
        nombre = usuario.Nombre;
        email = usuario.Email;
    }
}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<h1>FILMERS</h1>

<div class="container mt-5">
    <div class="dropup">
        <button class="btn circle-btn" type="button" id="dropupMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropupMenuButton">
            <a class="dropdown-item" href="#" id="openCreateModalPeliculaVista">Añadir Pelicula a vista</a>
            <a class="dropdown-item" href="#" id="openCrearPlaylist">Crear Playlist</a>
            <a class="dropdown-item" href="#" id="openCrearComunidad">Crear comunidad</a>
        </div>
    </div>
</div>
@*----------------------------------------------MODAL BUSQUEDA DE PELICULA--------------------------------------------------------------------*@

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="createModalPelicualaVista">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir Película a Vista</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"> <!-- Ajusta el valor de py-4 según tus necesidades -->
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <div class="input-group rounded">
                            @if(usuario != null)
                            {
                                <!-- Input para buscar por nombre -->
                                <input type="search" id="searchString" class="form-control rounded" placeholder="Buscar por nombre" aria-label="Search" aria-describedby="search-addon" />
                          
                                <div>
                                    <a class="btn btn-primary" id="openAnyadirAVista">Añadir Película</a>
                                </div>
                            
                                <!-- Desplegable para mostrar resultados de la búsqueda -->
                                <select id="resultadoBusqueda" class="form-control mt-3" style="display: none;"></select>
                            }
                            else
                            {
                                <h3>¡Debes de iniciar sesión para agregar peliculas a vistas!</h3>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCerrar">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#openCreateModalPeliculaVista').on('click', function () {
            // $('#createModalPelicualaVista .modal-body').load('/PeliculaVista/Create');
            $('#createModalPelicualaVista').modal('show');
        });

        $('#createModalPelicualaVista .btn-secondary').on('click', function () {
            $('#createModalPelicualaVista').modal('hide');
        });

        // Evento de clic en el botón de búsqueda
        $('#searchString').on('input', function () {
            // Obtener el valor de la barra de búsqueda
            var searchString = $(this).val();

            // Validar que la barra de búsqueda no esté vacía
            if (searchString.trim() !== '') {
                // Realizar la llamada AJAX al controlador para la búsqueda
                $.ajax({
                    url: '/Pelicula/buscaRapidoPeliculas',
                    type: 'GET',
                    data: { searchString: searchString },
                    success: function (result) {
                        // Mostrar los resultados en el desplegable
                        mostrarResultados(result);
                    },
                    error: function (error) {
                        console.error("Error al realizar la búsqueda:", error);
                    }
                });
            } else {
                // La barra de búsqueda está vacía, ocultar el desplegable
                $('#resultadoBusqueda').hide();
            }
        });

        // Función para mostrar los resultados en el desplegable
        function mostrarResultados(result) {
            // Limpiar el desplegable
            $('#resultadoBusqueda').empty();

            // Agregar opciones al desplegable
            result.forEach(function (pelicula) {
                var opcion = $('<option>', { value: pelicula.id }).text(pelicula.nombre);
                $('#resultadoBusqueda').append(opcion);
            });
            // $('#resultadoBusqueda').removeClass('d-none').addClass('show position-absolute w-100 mt-5');

            $('#resultadoBusqueda').removeClass('d-none').addClass('position-absolute w-100 mt-5').show();
            // Mostrar el desplegable
            // $('#resultadoBusqueda').show();
        }


        // Evento de clic en el botón "Añadir"
        $('#openAnyadirAVista').on('click', function () {
            var opcionSeleccionada = $('#resultadoBusqueda option:selected');
            var idPelicula = opcionSeleccionada.val();

            // Realizar la llamada AJAX al controlador para establecer TempData
            $.ajax({
                url: '/PeliculaVista/SetTempData',
                type: 'GET',
                data: { idPelicula: idPelicula },
                success: function () {
                    // Cerrar el modal actual
                    $('#createModalPelicualaVista').modal('hide');
                    // Cargar el contenido en el nuevo modal (ajusta la URL según sea necesario)
                    $('#createModalAnaydirPV .modal-body').load('/PeliculaVista/Create');
                    // Abrir el nuevo modal
                    $('#createModalAnaydirPV').modal('show');
                },
                error: function (error) {
                    console.error("Error en la solicitud AJAX:", error);
                }
            });
        });

    });
</script>

@*----------------------------------------------MODAL DE AÑADIR PELICULA A VISTA--------------------------------------------------------------------*@

<div class="modal" tabindex="-1" role="dialog" id="createModalAnaydirPV">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear una nueva comunidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido de la vista _Create se cargará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@*----------------------------------------------MODAL DE CREAR COMUNIDAD--------------------------------------------------------------------*@

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear una nueva comunidad</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido de la vista _Create se cargará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#openCrearComunidad').on('click', function () {
            $('#createModal .modal-body').load('/Comunidades/Create');
            $('#createModal').modal('show');
        });
        $('#createModal .btn-secondary').on('click', function () {
            $('#createModal').modal('hide');
        });
    });
</script>

@*----------------------------------------------MODAL DE CREAR PlayList-----------------------------------------------------------------------*@

<!-- Modal -->
<div class="modal" tabindex="-1" role="dialog" id="createModalPlaylist">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear una nueva playlist</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido de la vista _Create se cargará aquí -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#openCrearPlaylist').on('click', function () {
            $('#createModalPlaylist .modal-body').load('/Playlist/Create');
            $('#createModalPlaylist').modal('show');
        });

        $('#createModalPlaylist .btn-secondary').on('click', function () {
            $('#createModalPlaylist').modal('hide');
        });
    });

</script>

@*----------------------------------------------Vista de la pelicula--------------------------------------------------------------------------*@

<!-- Muestra las películas -->

@if (TempData["Error"] != null)
    {
        <div class="alert alert-danger">
            @TempData["Error"]
        </div>
    }

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }
<h2>Últimas peliculas</h2>

<div class="row">
        @foreach (var item in Model.Peliculas.Take(12))
        {
            <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6 col-12">
                <div class="card border-0">
                    <div class="hover-overlay">
                        <a href="@Url.Action("Details", "Pelicula", new { id = item.Id })">
                            <img src="@item.caratula" class="card-img-top img-fluid shadow p-1  bg-white rounded" alt="Carátula">
                        </a>
                        <div class="mask"></div>
                    </div>
                    
                </div>

                <div class="card-body">
                        <h5 class="card-title text-center">@item.nombre</h5>
                </div>
            </div>
        }
</div>

@{ 
            bool iniciado = false;
            }

@if (usuario != null)
{
    <h2>Actividad de tus amigos</h2>

        iniciado = true;
    
}
@if (Model.UltimasVistas != null && Model.UltimasVistas.Any())
{
    <div id="carruselPeliculas" class="carousel slide carousel-fade" data-ride="carousel" data-interval ="false">
        <div class="carousel-inner">
            @{  
                int contador = 0;


            }

        <div class="carousel-item active">
            <div class="row">
                @foreach (var pelicula in Model.UltimasVistas)
                {
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6 col-12">
                        <div class="card border-0">
                            <div class="hover-overlay">
                                <a href="@Url.Action("Details", "Pelicula", new { id = pelicula.idPelicula })">
                                    <img src="@pelicula.fotoPeli" class="card-img-top img-fluid shadow p-1  bg-white rounded" alt="Carátula">
                                    
                                </a>
                                <div class="mask"></div>
                                
                            </div>
                                
                            
                            
                            
                        </div>

                            <div class="card-body">
                                     <h5 class="card-title text-center">@pelicula.nombrePeli</h5>
                            </div>
                        <div class="card-body">
                                <h5 class="card-title text-center">@pelicula.nombreUsuario</h5>
                                <h5 class="card-title text-center">@pelicula.comentario</h5>

                            </div>
                    </div>

                    contador++;
                    if (contador % 6 == 0 && !Model.Peliculas.Last().Equals(pelicula))
                    {
                        @:</div></div><div class="carousel-item"><div class="row">
                    }
                }

            </div>
        </div>
@if (Model.UltimasVistas.Count() > 6) 
        {
                <a class="carousel-control-prev" href="#carruselPeliculas" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carruselPeliculas" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        }
        </div>
    </div>
}
else if(iniciado)
    {
        <div class="alert alert-info mt-2" role="alert">
            No tienes amigos o ellos aún no han visto ninguna película.
        </div>
    }

