@model WebApplication2.Models.PlayList_PeliculasViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h2>@Model.Playlist.nombre</h2>
    <hr />
    <p>@Model.Playlist.Descripcion</p>

    <div>
        <a class="btn btn-primary" href="@Url.Action("Index", "Pelicula")">Añadir Película</a>
    </div>

    <div>
        @if (Model.Pelicula.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Caratula</th>
                        <!-- Agrega más encabezados según las propiedades de tu modelo de Película -->
                    </tr>
                </thead>
                <tbody>
                    @foreach (var movie in Model.Pelicula)
                    {
                        <tr>
                            <td>@movie.nombre</td>
                            <td>@movie.caratula</td>
                            <!-- Agrega más celdas según las propiedades de tu modelo de Película -->
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>¡No has añadido ninguna película a tu playlist todavia!</p>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Playlist.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
